<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Tavern of Heroes</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="/tavernofheroes_reborn/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/tavernofheroes_reborn/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/tavernofheroes_reborn/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/tavernofheroes_reborn/img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>
	<style type="text/css">#hellopreloader>p{display:none;}#hellopreloader_preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;background: #fff url('../img/oval.svg') center center no-repeat;background-size:41px;}
	</style>
	<div id="hellopreloader"><div id="hellopreloader_preload"></div></div>
	<script type="text/javascript">var hellopreloader = document.getElementById("hellopreloader_preload");function fadeOutnojquery(el){el.style.opacity = 1;var interhellopreloader = setInterval(function(){el.style.opacity = el.style.opacity - 0.05;if (el.style.opacity <=0.05){ clearInterval(interhellopreloader);hellopreloader.style.display = "none";}},16);}window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1000);};
	</script>
	<div id="my-page">
		<div id="my-header">
			<nav id="mobile-menu">
				<ul>
					<li><a href="/tavernofheroes_reborn/">Главная</a></li>
					<li><a href="/tavernofheroes_reborn/view/news">Новости</a></li>
					<li class="selected"><a href="/tavernofheroes_reborn/view/streams">Стримы</a></li>
					<li class="last"><a href="/tavernofheroes_reborn/view/media">Медиа</a></li>
				</ul>
			</nav>
			<header>
				<div class="container">
					<div class="row">
						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-2 col-2 item">
							<div class="logo">
								<a href="/"><img src="/tavernofheroes_reborn/img/logo/ToHLogo3.png" alt="Logo Tavern of Heroes"></a>
							</div>
							<nav id="desktop-menu">
								<ul>
									<li><a href="/tavernofheroes_reborn/">Главная</a></li>
									<li><a href="/tavernofheroes_reborn/view/news">Новости</a></li>
									<li class="selected"><a href="/tavernofheroes_reborn/view/streams">Стримы</a></li>
									<li><a href="/tavernofheroes_reborn/view/media">Медиа</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-10 col-10 item">
							<nav class="mobile-tailings-menu">
								<ul>
									<li><a href="https://eu.battle.net/account/ru/creation/recruit.html?rid=VCXH5MSCCF" class="btn-default btn-orange">Играть</a></li>
									<li>
										<a href="#mobile-menu" id="mmenu-icon" class="hamburger hamburger--collapse" type="button">
										     <span class="hamburger-box">
										         <span class="hamburger-inner"></span>
										     </span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
		</div>
		<div id="my-content">
			<div class="container">

				<h2>Скоро!</h2>

			</div>
		</div>
		<div id="my-footer">
			<a href="/" class="logo">
				<img src="/tavernofheroes_reborn/img/logo/ToHLogo3.png" alt="">
			</a>
			<nav class="social-links">
				<ul>
					<li><a href="https://vk.com/tavernofoverwatch" class="icon-social vk-icon"></a></li>
					<li><a href="https://discord.gg/BArdrG7" class="icon-social discord-icon"></a></li>
					<li><a href="https://twitter.com/tavernofheroes" class="icon-social twitter-icon"></a></li>
					<li><a href="https://www.youtube.com/user/tavernofheroes?sub_confirmation=1" class="icon-social youtube-icon"></a></li>
				</ul>
			</nav>
		</div>
	</div>
	
	<link rel="stylesheet" href="/tavernofheroes_reborn/css/main.min.css">
	<script src="/tavernofheroes_reborn/js/scripts.min.js"></script>
</body>
</html>
